<div id="page">

    <div id="navbar">
        <app-nav-bar></app-nav-bar>

        <nav class="nav vertical">
            <ul>
                <li>
                    <a [routerLink]="['/home']">
                        <i class="left-menu-icon fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/myTasks']">
                        <i class="left-menu-icon fas fa-bookmark"></i>
                    </a>
                </li>

            </ul>
        </nav>


    </div>

    <div class="container">

        <form [formGroup]="formChores" (ngSubmit)="onSubmitChores()">

            <fieldset>
                <legend><span class="number"><i class="fas fa-user-plus"></i></span>Add New Tasks</legend>

                <label for="title">Title</label>

                <input type="text" class="form-control " formControlName="title">


                <label for="detail">Detail</label>

                <input type="text" class="form-control " formControlName="detail">

            </fieldset>

            <button class="btn_create" type="submit">Create</button>
        </form>

        <div class="myTasks">

            <h1>Edit tasks published</h1>

            <table class="flat-table flat-table-1">
                <thead>
                    <th>Task Title</th>
                    <th>Task Detail</th>
                    <th>Delete / Update</th>

                </thead>
                <tbody>
                    <tr *ngFor="let chore of chores | paginate: { itemsPerPage: 2, currentPage: page}">
                        <td>{{chore.title}}</td>
                        <td>{{chore.detail}}</td>
                        <td>
                            <button (click)="deleteTask(chore.id)" class="button">
                                <i class="fas fa-trash-alt delete"></i>
                            </button>
                            <button class="button" (click)="updateTask(chore.id)">
                                <i class="fas fa-check update"></i>
                            </button>


                        </td>
                    </tr>

                </tbody>


            </table>
            <pagination-controls class="pagination" (pageChange)="page = $event" responsive=" true"
                previousLabel="Previous" nextLabel="Next">
            </pagination-controls>

        </div>





    </div>

    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>