*{
    color: white;
    line-height:50px;
    background:black;
    text-align:center;
}

a{
    text-decoration: none;
}

a:hover{
    color: lightseagreen;
}

.linkedin{

   color: #094fe6 !important;
   margin-right: 5px;

}


