<!-- Copyright -->
<div class="copyright">
    © 2021 Copyright
    <!--  <a [routerLink]="['/home']">tikjobs-3bd13.web.app/home</a> -->
</div>
<div class="created">
    <small> Created by
        <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank">Samantha.O</a>
        |
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank" role="button"><i
                class="linkedin fab fa-linkedin fa-lg mr-2"></i></a>
        <!-- Github -->
        <a href="https://github.com/Samantha-GitHub" target="_blank" role="button"><i
                class=" fab fa-github-square fa-lg mr-9"></i></a>
    </small>
</div>