<body>

    <form action="index.html" method="post">

        <fieldset>
            <legend><span class="number"><i class="fas fa-user-plus"></i></span>Sign Up</legend>
            <label for="name">First Name:</label>
            <input type="text" id="name" name="user_name">

            <label for="name">Last Name:</label>
            <input type="text" id="name" name="user_name">

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password">

        </fieldset>
        <button type="submit">Sign Up</button>
    </form>

</body>