<body>

    <form [formGroup]="formUser" (ngSubmit)="onSubmitFormUser()">

        <fieldset>
            <legend><span class="number"><i class="fas fa-user-plus"></i></span>Sign Up</legend>

            <label for="name">First Name:</label>

            <input type="text" class="form-control " formControlName="firstname" id="name" name="user_name">

            <p>
                Firstname is required
            </p>

            <label for="name">Last Name:</label>

            <input type="text" class="form-control " formControlName="lastname" id="name" name="user_name">

            <p>
                Lastname is required
            </p>

            <label for="mail">Email:</label>

            <input class="form-control " formControlName="email" type="email" id="mail" name="user_email">

            <p>
                Email is required: example@email.com
            </p>

            <label for="password">Password:</label>

            <input class="form-control " formControlName="password" type="password" id="password" name="user_password">

            <p>
                Password is required : at leats 1 UpperCase, 1 number, 1 spacial sign.
            </p>

        </fieldset>

        <button type="submit">Sign Up</button>
        <p class="forgot" align="center">
            <a [routerLink]="['/login']">You already have an account? Go to Login!</a>
        </p>
    </form>
</body>

<div class="footer">

    <!-- Copyright -->
    <div class="copyright">
        © 2021 Copyright
    </div>
    <div class="created">
        <small> Created by <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank"
                class="black">Samantha.O</a> |
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank" role="button"><i
                    class="linkedin fab fa-linkedin fa-lg mr-2"></i></a>
            <!-- Github -->
            <a href="https://github.com/Samantha-GitHub" target="_blank" role="button"><i
                    class="github fab fa-github-square fa-lg mr-9"></i></a>
        </small>
    </div>
</div>