<div id="home" class="HeroContainer">
    <div class="HeroBg">
        <video class="VideoBg" autoplay loop type="video/mp4">
            <source src="../../../assets/video/production ID 3832194.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="HeroContent">
        <h1 class="HeroH1">Welcome to Tasks-Organizer</h1>
        <p class="HeroP">
            Your personal To-Do-List
        </p>
        <div class="HeroBtnWrapper">

            <button [routerLink]="['/login']" class="button" style="vertical-align:middle"><span>Login or Sign up Here!
                </span></button>

        </div>


    </div>

</div>

<div class="footer">

    <!-- Copyright -->
    <div class="copyright">
        © 2021 Copyright
    </div>
    <div class="created">
        <small> Created by <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank"
                class="black">Samantha.O</a> |
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank" role="button"><i
                    class="linkedin fab fa-linkedin fa-lg mr-2"></i></a>
            <!-- Github -->
            <a href="https://github.com/Samantha-GitHub" target="_blank" role="button"><i
                    class="github fab fa-github-square fa-lg mr-9"></i></a>
        </small>
    </div>
</div>