<div id="home" class="HeroContainer">
    <div class="HeroBg">
        <video class="VideoBg" autoplay loop type="video/mp4">
            <source src="../../../assets/video/production ID 3832194.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="HeroContent">
        <h1 class="HeroH1">Welcome to Tasks-Organizer</h1>
        <p class="HeroP">
            Your personal To-Do-List
        </p>
        <div class="HeroBtnWrapper">
            <a class="button" href="login" role="button">Join Now!</a>

        </div>


    </div>

</div>