<div id="page">

    <div id="navbar">
        <app-nav-bar></app-nav-bar>

        <nav class="nav vertical">
            <ul>
                <li>
                    <a [routerLink]="['/home']">
                        <i class="left-menu-icon fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/myTasks']">
                        <i class="left-menu-icon fas fa-bookmark"></i>
                    </a>
                </li>

                <li>
                    <a (click)="logOut()">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>



            </ul>
        </nav>


    </div>

    <div class="container">

        <div class="body">




            <div class="allTasks">

                <h1>All tasks published</h1>

                <table class="flat-table flat-table-1 ">
                    <thead>
                        <th>Task Title</th>
                        <th>Task Detail</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chore of chores | paginate: { itemsPerPage: 4, currentPage: page }">
                            <td>{{chore.title}}</td>
                            <td class="detail">{{chore.detail}}</td>
                        </tr>

                    </tbody>
                </table>

                <pagination-controls class="pagination" (pageChange)="page = $event" responsive=" true"
                    previousLabel="Previous" nextLabel="Next">
                </pagination-controls>

            </div>



            <div class="myTasks">

                <h1>My tasks published</h1>

                <table class="flat-table flat-table-1">
                    <thead>
                        <th>Task Title</th>
                        <th>Task Detail</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let chores of choresById | paginate: { itemsPerPage: 2, currentPage: page }">
                            <td>{{chores.title}}</td>
                            <td>{{chores.detail}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div id="footer">
                <app-footer></app-footer>
            </div>
        </div>
    </div>

</div>