<div id="page">

    <div id="navbar">
        <app-nav-bar></app-nav-bar>

        <nav class="nav vertical">
            <ul>
                <li>
                    <a [routerLink]="['/home']">
                        <i class="left-menu-icon fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/myTasks']">
                        <i class="left-menu-icon fas fa-bookmark"></i>
                    </a>
                </li>

            </ul>
        </nav>


    </div>

    <div class="container">




        <div class="allTasks">

            <h1>All tasks published</h1>

            <table class="flat-table flat-table-1 ">
                <thead>
                    <th>Task Title</th>
                    <th>Task Detail</th>
                </thead>
                <tbody>
                    <tr *ngFor="let chore of chores">
                        <td>{{chore.title}}</td>
                        <td class="detail">{{chore.detail}}</td>
                    </tr>

                </tbody>
            </table>


        </div>



        <div class="myTasks">

            <h1>My tasks published</h1>

            <table class="flat-table flat-table-1">
                <thead>
                    <th>Task Title</th>
                    <th>Task Detail</th>
                    <th>Delete / Update</th>

                </thead>
                <tbody>
                    <tr *ngFor="let chores of choresById">
                        <td>{{chores.title}}</td>
                        <td>{{chores.detail}}</td>
                        <td>
                            <button class="button">
                                <i class="fas fa-trash-alt delete"></i>
                            </button>
                            <button class="button">
                                <i class="fas fa-check update"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>