<div id="page">

    <div id="navbar">
        <app-nav-bar></app-nav-bar>

        <nav class="nav vertical">
            <ul>
                <li>
                    <a [routerLink]="['/home']">
                        <i class="left-menu-icon fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/myTasks']">
                        <i class="left-menu-icon fas fa-bookmark"></i>
                    </a>
                </li>

                <li>
                    <a (click)="logOut()">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>

            </ul>
        </nav>


    </div>

    <div class="container">

        <body>

            <form [formGroup]="formUser" (ngSubmit)="onSubmitFormUser()">

                <fieldset>
                    <legend><span class="number"><i class="fas fa-user-plus"></i></span>Update Your Profile</legend>

                    <label for="name">First Name:</label>

                    <input type="text" class="form-control " formControlName="firstname" id="firstname"
                        name="user_name">


                    <label for="name">Last Name:</label>

                    <input type="text" class="form-control " formControlName="lastname" id="lastname" name="user_name">

                    <label for="mail">Email:</label>

                    <input class="form-control " formControlName="email" type="email" id="mail" name="user_email">

                    <label for="password">Password:</label>

                    <input class="form-control " type="password" id="password" name="user_password" disabled>


                </fieldset>

                <button type="submit" (click)="refresh()">Save</button>
            </form>

        </body>

    </div>

    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>