body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.815);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 2;
}

.logo {
  font-size: 1.5em;
  color: lightcoral;
  cursor: pointer;
}

.menu-container {
  flex: 9;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
  cursor: pointer;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
  cursor: pointer;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 575px) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav{

    width: 80%;
  }

        figure{
          display: none;
        }
        .logo-containe{
          flex:3;
        }
        .logo{
          font-size: 1em;
        }

        small{
          display: none;
        }

        .menu-container{

          
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

        
}

@media screen and (max-width: 767px) and (min-width:576px) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

        figure{
          display: none;
        }
        .logo-containe{
          flex: 4
        }
        .logo{
          font-size: 1.5em;
        }

        small{
          display: none;
        }

        .menu-container{

          
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

        
}

@media (max-width: 991px) and (min-width:768px) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

        figure{
          display: none;
        }
        .logo-containe{
          flex: 4
        }
        .logo{
          font-size: 1.9em;
        }

        .menu-container{

          
        flex: 9;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .profile-container{
        flex:5
      }

        .icon{
  display: none;
}
        
}

@media screen and (max-width: 1199px) and (min-width:992px){

.icon{
  display: none;
}
}



