<nav class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">Tasks-Organizer</h1>
        </div>
        <div class="menu-container">

            <ul class="menu-list">
                <li routerLink="/home" class="menu-list-item">Home</li>
                <li routerLink="/myTasks" class="menu-list-item">My Tasks</li>
            </ul>
        </div>
        <div class="profile-container">
            <figure>
                <img class="profile-picture"
                    src="https://i.pinimg.com/originals/2e/2f/ac/2e2fac9d4a392456e511345021592dd2.jpg" alt="">
            </figure>

            <div class="profile-text-container">
                <span class="profile-text" routerLink="/profile">Profile</span>
            </div>

            <div class="profile-text-container">
                <a (click)="logOut()" class="profile-text"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </div>

        </div>
    </div>
</nav>