<nav class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">Tasks-Organizer</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item" active>All Tasks</li>
                <li class="menu-list-item">My Tasks</li>
            </ul>
        </div>
        <div class="profile-container">
            <figure>
                <img class="profile-picture"
                    src="https://i.pinimg.com/originals/2e/2f/ac/2e2fac9d4a392456e511345021592dd2.jpg" alt="">
            </figure>

            <div class="profile-text-container">
                <span class="profile-text" routerLink="/profile">Profile</span>
            </div>
            <!-- <div class="toggle">
                <i class="fas fa-moon toggle-icon"></i>
                <i class="fas fa-sun toggle-icon"></i>
                <div class="toggle-ball"></div>
            </div> -->
        </div>
    </div>
</nav>

<aside class="sidebar">
    <!-- <i class="left-menu-icon fas fa-search"></i> -->
    <i class="left-menu-icon fas fa-home"></i>
    <i class="left-menu-icon fas fa-users"></i>
    <i class="left-menu-icon fas fa-bookmark"></i>

</aside>