<body>
    <div class="main">
        <p class="sign" align="center">Login</p>
        <form class="form1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <input class="un form-control" type="text" align="center" placeholder="Email" formControlName="email">

            <input class="pass form-control" type="password" formControlName="password" align="center"
                placeholder="Password">

            <button type="submit" class="submit" align="center">Sign in</button>
            <p align="center" *ngIf="errorMessage">{{ errorMessage }}</p>

            <p class="forgot" align="center">
                <a [routerLink]="['/createaccount']">Don't have an account?</a>
            </p>
        </form>
    </div>
</body>