<body>
    <div class="main">
        <p class="sign" align="center">Login</p>
        <form class="form1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <input class="un form-control" type="text" align="center" placeholder="Email" formControlName="email">

            <input class="pass form-control" type="password" formControlName="password" align="center"
                placeholder="Password">

            <button type="submit" class="submit" align="center">Sign in</button>
            <p align="center" *ngIf="errorMessage">{{ errorMessage }}</p>

            <p class="forgot" align="center">
                <a [routerLink]="['/createaccount']">Don't have an account?</a>
            </p>
        </form>
    </div>
</body>

<div class="footer">

    <!-- Copyright -->
    <div class="copyright">
        © 2021 Copyright
    </div>
    <div class="created">
        <small> Created by <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank"
                class="black">Samantha.O</a> |
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/samantha-ottaviani/" target="_blank" role="button"><i
                    class="linkedin fab fa-linkedin fa-lg mr-2"></i></a>
            <!-- Github -->
            <a href="https://github.com/Samantha-GitHub" target="_blank" role="button"><i
                    class="github fab fa-github-square fa-lg mr-9"></i></a>
        </small>
    </div>
</div>